@import "tailwindcss";

html, body {
    height: 100%;
}

body > div {
    display: flex;
    flex-direction: column;
}

.react-flow__node-selectorNode {
    font-size: 12px;
    background: #eee;
    border: 1px solid #555;
    border-radius: 5px;
    text-align: center;
}